* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #333;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: lighter;
  font-size: 16px;
  line-height: 1.42857143;
}

section {
  padding: 50px 7%;
}

.title {
  text-align: center;
  font-weight: bold;
}

.field {
  display: block;
  padding: 8px 10px;
  border: 1px solid #AAA;
  border-radius: 3px;
  background-color: #FFF;
  margin-bottom: 5px;
  width: 100%;
}

.field:focus {
  box-shadow: 0px 0px 0px 1px #66B9FF;
}

.btn-container {
  margin-top: 15px;
}

.btn {
  display: inline-block;
  padding: 8px 10px;
  border: 1px solid;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s;
  margin-right: 5px;
}

.btn.cancel {
  background-color: #E53935;
  color: #FFF;
  border-color: rgba(229, 57, 53, 0.8);
}

.btn.cancel:hover {
  background-color: rgba(229, 57, 53, 0.6);
}

.btn.submit {
  background-color: #66BB6A;
  color: #FFF;
  border-color: rgba(102, 187, 106, 0.5);
}

.btn.submit:hover {
  background-color: rgba(102, 187, 106, 0.5);
}
